<!DOCTYPE html>
<html>
<head><link rel='stylesheet' href='styles.css'/></head>
	<body>
	<div id='main_container'>
		<div id='title_box'>
			<h1 id='title'><%= title %></h1>
		</div>

			<%= yield %>

	</div>
	</body>
</html>